[Desktop Entry]
Name=termset
Comment=Save your terminal layouts
Exec=/home/liam/Documents/projects/termem/project2/target/release/terms /home/liam/.termspace/workspace01.yaml
Path=/home/liam/Documents/projects/termem/project2
Icon=/home/liam/Documents/projects/termem/project2/termset.svg
Terminal=false
Type=Application
Categories=Utility;TerminalEmulator;
Keywords=terminal;workspace;tmux;sessions;layout;
StartupWMClass=termset
